@page
@model AboutModel
@{
    ViewData["Title"] = "Tachyonen bestaan? Ja in het Higgsveld te vinden";
}
<h2>@ViewData["Title"]</h2>
<h3>@Model.Message</h3>

<p>Use this area to provide additional information.</p>
