@page
@model AboutModel
@{
    ViewData["Title"] = "Test of Deployment werkt en of Staging Slot werkt";
}
<h2>@ViewData["Title"]</h2>
<h3>@Model.Message</h3>

<p>Use this area to provide additional information.</p>
